:root {
    --primary-color: #e36141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
    color: #333;
}

html {
    overflow: hidden;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 16px;
    border-bottom: 1px solid #000;
    font-weight: 600;
}
.logo{
    cursor: pointer;
    font-size: 20px;
}

.logo span{
    color: var(--primary-color);
}
.navbar{
    display: flex;
    height: 50px;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 16px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.down-icon {
    margin-left: 8px;
    color: var(--primary-color);

}

.nav-item:hover,.nav-item:hover .down-icon, .contact-btn:hover{
    color: white;
    background-color: var(--primary-color);
}

.nav-item span {
    font-size: 12px;
}

.contact-btn{
    padding: 4px 16px;
    background-color: #fff;
    border: 1px solid #333;
    font-size: 16px;
    font-weight: 500;

}
.container{
    display: flex;
    padding: 0 16px;
}
.content{
    flex: 1;
}
.info{
    margin-top: 20px;
}
.name{
    user-select: none;
    font-size: 48px;
    word-wrap: wrap;
}

.decoration {
    padding: 4px 16px;
    background-color: #5562ff;
    border-radius: 999px;
    color: #fff;
    margin-left: 40px;
    font-size: 40px;
}

.multiText {
    text-transform: capitalize;
    color: var(--primary-color);
}

.desc{
    width: 340px;
    margin-top: 20px;
}
.desc span {
    font-weight: 600;
}
.action{
    margin-top: 20px;
}
.hire-btn{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    animation: floatAnimate linear 0.8s infinite alternate;
}

@keyframes floatAnimate {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    }
}

.project-btn{
    padding: 8px 16px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.more{
    display: flex;
    margin-top: 10px;
}
.done div{
    margin-top: 10px;
    width: 200px;
}
.contact {
    margin-top: 10px;
    margin-left: 40px;
}
.projects-done{
    margin-top: 20px;
    padding: 40px;
    display: flex;
    background-color: #000;
    color: #fff;
}
.left{
    width: 200px;
}
.left button {
    background-color: #ffd100;
    padding: 4px 16px;
    font-weight: 600;
}
.right{
    margin-left: 50px;
}
.project{
    display: flex;
    justify-content: space-between;
    width: 250px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
}
.project p{
    flex: 1;   
}
.avatar{
    position: relative;
    width: 400px;
    background: url('./dev_img.jpg') center no-repeat #000;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.title{
    color: #fff;
    background-color: #000;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #000;
    text-align: center;
}
.title span {
    color: #fff;
    font-weight: 600;
}
.icon{
    font-size: 30px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    animation: floatAnimate linear 0.8s infinite alternate;
}

.youtube {
    color: #de463b;
    top: 20%;
    left: 10%;
}
.facebook {
    color: #3b5999;
    top: 60%;
    left: 10%;
}
.github {
    color: #333;
    top: 20%;
    right: 10%;
}

.phone {
    color: #46af46;
    top: 60%;
    right: 10%;
}
.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #000;
}
.sub-btn{
    background-color: #fff;
    color: #000;
    font-size: 24px;
    padding: 8px 16px;
}

.modal {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.modal.hide {
    visibility: hidden;
    opacity: 0;
}

.cv {
    position: absolute;
    width: 820px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}